---

---

<section
    class="overflow-hidden bg-zinc-900/10 sm:grid sm:grid-cols-2 sm:items-center backdrop-blur group"
>
    <div class="p-8">
        <div class="mx-auto text-center">
            <h2 class="text-2xl font-bold text-zinc-100 md:text-3xl">
                Beneficios de usar Fishy Air en tus aventuras de pesca
            </h2>
            <h3 class="text-xl font-semibold text-zinc-300 md:text-2xl">
                Pesca deportiva y confort en cada viaje
            </h3>

            <p class="hidden text-zinc-500 md:mt-4 md:block">
                Aromatizantes duraderos que traen la frescura del océano a cada
                trayecto. Ideal para pescadores que buscan relajarse antes y
                después de un largo día en el mar.
            </p>
            <div
                class="flex flex-col justify-center items-center gap-4 py-4 lg:flex-row"
            >
                <article
                    class="flex flex-col gap-2 justify-center items-center bg-cyan-400 px-5 py-3 transition hover:bg-cyan-500 rounded-md w-60 lg:h-36"
                >
                    <h4 class="text-lg font-medium text-cyan-50">
                        Durabilidad
                    </h4>
                    <p class="text-sm text-cyan-200 flex-1">
                        Hasta 60 días de frescura.
                    </p>
                </article>
                <article
                    class="flex flex-col gap-2 justify-center items-center bg-cyan-400 px-5 py-3 transition hover:bg-cyan-500 rounded-md w-60 lg:h-36"
                >
                    <h4 class="text-lg font-medium text-cyan-50">Variedad</h4>
                    <p class="text-sm text-cyan-200 flex-1">
                        12 aromas únicos inspirados en la naturaleza marina de
                        Chile.
                    </p>
                </article>
                <article
                    class="flex flex-col gap-2 justify-center items-center bg-cyan-400 px-5 py-3 transition hover:bg-cyan-500 rounded-md w-60 lg:h-36"
                >
                    <h4 class="text-lg font-medium text-cyan-50">
                        Aventura en cada respiro
                    </h4>
                    <p class="text-sm text-cyan-200 flex-1">
                        Ideal para amantes de la pesca deportiva.
                    </p>
                </article>
            </div>

            <div class="mt-4 md:mt-8">
                <a
                    href="#"
                    class="inline-block rounded ring-cyan-400 ring-2 px-12 py-3 text-sm font-medium text-cyan-400 shadow hover:bg-cyan-700 hover:text-cyan-100 hover:ring-0 focus:outline-none focus:ring active:bg-cyan-400 sm:w-auto transition-all"
                >
                    Compra ahora y vive la experiencia
                </a>
            </div>
        </div>
    </div>

    <img
        alt=""
        src="/image/FISHYAIR-7.avif"
        class="h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px] group-hover:scale-105 group-hover:drop-shadow-[0_0px_17px_rgba(255,255,255,0.35)] transition-transform"
    />
</section>
