---

---

<section class="py-32">
    <div class="container mx-auto">
        <div
            class="flex w-full flex-col overflow-hidden rounded-lg border border-border bg-zinc-100 md:rounded-xl lg:flex-row lg:items-center"
        >
            <div class="w-full shrink-0 self-stretch lg:w-1/2">
                <img
                    src="https://trello.com/1/cards/671adc830d8eb2fb0bb27026/attachments/671adc915121cf0d84ef2caf/previews/671adc935121cf0d84ef2cbc/download/FISHY_AIR-4.png"
                    alt="placeholder hero"
                    class="aspect-[3/2] w-full rounded-md object-cover"
                />
            </div>
            <div class="w-full shrink-0 px-4 py-6 md:p-8 lg:w-1/2 lg:px-16">
                <h3
                    class="mb-3 text-2xl font-semibold md:mb-4 md:text-4xl lg:mb-6"
                >
                    Lleva Fishy Air en tu próximo viaje
                </h3>
                <p class="mb-8 text-zinc-600 lg:text-lg">
                    No esperes a sentir el mar. Vive la frescura del océano en
                    cada respiro con Fishy Air.
                </p>
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-zinc-900 text-white hover:bg-zinc-900/90 h-10 px-4 py-2"
                >
                    Compra ahora y recibe envío gratis a todo Chile
                </button>
            </div>
        </div>
    </div>
</section>
