---

---

<section
    class="relative flex justify-center items-center text-center h-[100dvh] w-full overflow-hidden md:h-[600px] md:my-12"
>
    <video
        class="absolute right-1/2 bottom-1/2 min-w-full min-h-full max-w-none w-auto h-auto translate-x-1/2 translate-y-1/2 z-0 brightness-90 blur-sm md:blur-none md:h-[600px] object-cover [mask-image:radial-gradient(ellipse_90%_90%_at_50%_50%,#000_1%,transparent_50%)]"
        autoplay={true}
        muted={true}
        preload="auto"
        loop={true}
        poster="/img/landing/videoplayback.jpg"
        src="/video/videoplayback.webm"></video>

    <div class="relative w-full">
        <div class="p-8 md:p-12 lg:px-16 lg:py-24">
            <div class="mx-auto max-w-lg text-center">
                <h2 class="text-2xl font-bold text-cyan-400 md:text-4xl">
                    Aromas inspirados en la pesca deportiva en La Serena
                </h2>

                <p
                    class="hidden text-gray-300 sm:mt-4 sm:block sm:text-lg md:font-medium drop-shadow-xl"
                >
                    Fishy Air captura la frescura y libertad del océano,
                    llevando la experiencia de la pesca deportiva a tu auto.
                    Inspirados en la costa de La Serena y los paisajes de Chile,
                    nuestros aromas te acompañan en cada aventura.
                </p>
            </div>

            <div class="mx-auto mt-8 max-w-xl">
                <a
                    class="mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-cyan-600 px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:mt-0 sm:w-auto"
                >
                    <span class="text-sm font-medium">
                        Compra ahora y lleva el mar contigo
                    </span>

                    <svg
                        class="size-5 rtl:rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
