---

---

<section class="relative bg-zinc-950">
    <div
        class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 bg-[url('/image/FISHYAIR-3.avif')] bg-cover bg-center bg-no-repeat brightness-50 md:[mask-image:radial-gradient(ellipse_90%_100%_at_100%_50%,#000_1%,transparent_120%)]"
    >
    </div>

    <div
        class="relative mx-auto max-w-screen-xl px-4 py-32 h-[100dvh] sm:px-6 lg:flex lg:items-center lg:px-8"
    >
        <div class="max-w-2xl text-center md:text-start">
            <h1 class="text-2xl font-extrabold text-white sm:text-5xl">
                Lleva la aventura del mar a

                <strong class="block font-extrabold text-cyan-400">
                    cada viaje con Fishy Air
                </strong>
            </h1>

            <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
                Descubre cómo nuestros aromatizantes te conectan con la
                naturaleza y la pesca deportiva en Chile.
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a
                    href="#"
                    class="block w-full rounded bg-cyan-400 px-12 py-3 text-sm font-medium text-cyan-950 shadow hover:bg-cyan-700 hover:text-cyan-100 focus:outline-none focus:ring active:bg-cyan-400 sm:w-auto transition-colors"
                >
                    Explora nuestros aromas
                </a>

                <a
                    href="#"
                    class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-cyan-950 shadow hover:text-cyan-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto transition-colors"
                >
                    Contactanos
                </a>
            </div>
        </div>
    </div>
</section>
