---

---

<section class="py-32">
    <div
        class="mt-12 aspect-video overflow-clip sm:mt-32 md:aspect-auto md:h-[450px]"
    >
        <div class="relative mx-auto flex max-w-3xl flex-col">
            <div
                class="absolute right-[calc(100%+63px)] top-0 hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+195px)] top-[52px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+34px)] top-[144px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-3.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+268px)] top-[164px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-4.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+156px)] top-[240px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-5.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+242px)] top-[340px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-6.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+66px)] top-[366px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-right opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
        </div>
        <div class="relative mx-auto flex max-w-3xl flex-col">
            <div
                class="absolute left-[calc(100%+53px)] top-0 hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+202px)] top-[34px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-3.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+97px)] top-[141px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-4.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+282px)] top-[138px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-5.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+42px)] top-[262px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-6.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+234px)] top-[282px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+112px)] top-[365px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block image-move-left opacity-0"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
        </div>
        <div class="container mx-auto px-4 text-center">
            <div class="mt-2 flex w-full flex-col items-center">
                <h2
                    class="my-6 text-zinc-50 text-pretty text-4xl font-bold lg:text-6xl"
                >
                    ¿Por qué elegir Fishy Air?
                </h2>
            </div>
            <div class="mt-6 flex w-full flex-col items-center">
                <h3 class="mb-8 max-w-3xl text-zinc-300 lg:text-xl text-pretty">
                    No es solo un aromatizante, es una experiencia que te
                    transporta a tus aventuras favoritas de pesca deportiva.
                    Diseñados con amor por la naturaleza, nuestros aromas son
                    perfectos para aquellos que buscan el aire fresco del mar en
                    cada viaje.
                </h3>
            </div>
            <div class="flex w-full flex-col justify-center gap-2 sm:flex-row">
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded bg-cyan-400 px-12 py-3 text-sm font-medium text-cyan-950 shadow hover:bg-cyan-700 hover:text-cyan-100 focus:outline-none focus:ring active:bg-cyan-400 sm:w-auto transition-colors"
                >
                    Conoce más sobre nuestra historia
                </button>
            </div>
        </div>
    </div>
</section>

<style>
    .image-move-left:nth-child(1) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2400px 2800px;
    }
    .image-move-left:nth-child(2) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2450px 2800px;
    }
    .image-move-left:nth-child(3) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2500px 2800px;
    }
    .image-move-left:nth-child(4) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2550px 2800px;
    }
    .image-move-left:nth-child(5) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2600px 2800px;
    }
    .image-move-left:nth-child(6) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2650px 2800px;
    }
    .image-move-left:nth-child(7) {
        animation: image-move-left 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2700px 2800px;
    }

    .image-move-right:nth-child(1) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2400px 2800px;
    }
    .image-move-right:nth-child(2) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2450px 2800px;
    }
    .image-move-right:nth-child(3) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2500px 2800px;
    }
    .image-move-right:nth-child(4) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2550px 2800px;
    }
    .image-move-right:nth-child(5) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2600px 2800px;
    }
    .image-move-right:nth-child(6) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2650px 2800px;
    }
    .image-move-right:nth-child(7) {
        animation: image-move-right 1s linear forwards;
        animation-timeline: scroll();
        animation-range: 2700px 2800px;
    }

    @keyframes image-move-left {
        0% {
            transform: translateX(-4.75rem);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes image-move-right {
        0% {
            transform: translateX(4.75rem);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
</style>
