---

---

<section class="py-32">
    <div class="container flex flex-col items-center text-center mx-auto">
        <h2
            class="my-6 text-zinc-50 text-pretty text-4xl font-bold lg:text-6xl"
        >
            ¿Por qué elegir Fishy Air?
        </h2>
        <h3 class="mb-8 max-w-3xl text-zinc-300 lg:text-xl">
            No es solo un aromatizante, es una experiencia que te transporta a
            tus aventuras favoritas de pesca deportiva. Diseñados con amor por
            la naturaleza, nuestros aromas son perfectos para aquellos que
            buscan el aire fresco del mar en cada viaje.
        </h3>
        <div class="flex w-full flex-col justify-center gap-2 sm:flex-row">
            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-zinc-900 text-white hover:bg-zinc-900/90 h-10 px-4 py-2 w-full sm:w-auto"
            >
                Conoce más sobre nuestra historia
            </button>
        </div>
    </div>
    <div
        class="mt-12 aspect-video overflow-clip sm:mt-32 md:aspect-auto md:h-[420px]"
    >
        <div class="relative mx-auto flex max-w-3xl flex-col">
            <div
                class="absolute right-[calc(100%+63px)] top-0 hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+195px)] top-[52px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+34px)] top-[144px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-3.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+268px)] top-[164px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-4.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+156px)] top-[240px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-5.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+242px)] top-[340px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-6.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute right-[calc(100%+66px)] top-[366px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+53px)] top-0 hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+202px)] top-[34px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-3.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+97px)] top-[141px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-4.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+282px)] top-[138px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-5.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+42px)] top-[262px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-6.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+234px)] top-[282px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-1.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div
                class="absolute left-[calc(100%+112px)] top-[365px] hidden size-[64px] rounded-2xl bg-zinc-100 ring-1 ring-inset ring-accent-foreground/10 md:block"
            >
                <img
                    src="/images/placeholders/minima/block-2.svg"
                    alt="placeholder hero"
                    class="h-full w-full rounded-md object-cover object-center p-3"
                />
            </div>
            <div class="container mx-auto">
                <div
                    class="mt-2 flex aspect-[21/5] max-h-[156px] w-full flex-col items-center overflow-clip rounded-md border border-border bg-zinc-100 shadow-sm sm:rounded-xl"
                >
                </div>
                <div
                    class="mt-6 flex aspect-[27/10] max-h-[300px] w-full flex-col items-center overflow-clip rounded-xl border border-border bg-zinc-100 shadow-sm"
                >
                </div>
            </div>
        </div>
    </div>
</section>
